.app-wrapper {
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  padding: 0.5vh 1vw;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 1vw;

  @include media-tablet {
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
  }
}
