%buttonReset {
  border: none;
  outline: none;
  width: auto;
  height: auto;
  background-color: darken($color: firebrick, $amount: 5%);
  cursor: pointer;
}

.game {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__view {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border: 2px solid $color-text;
  font-size: 2rem;
}

.game__control {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: $color-background1;
  border: 2px solid $color-text;
}

.game__weapon,
.game__logs,
.game__menu {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 20%;
  padding: 0.5rem;
  justify-content: center;
  background-color: $color-background1;
  border-right: 2px solid $color-text;
  font-size: 2rem;
}

.game__logs {
  width: 60%;
}

.game__menu {
  border: none;
}

.game-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  button {
    @extend %buttonReset
  }
  button:active {
    transform: scale(.9);
  }
  button:hover {
    background-color: darken($color: firebrick, $amount: 10%);
  }
}
.pause {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba($color: #000000, $alpha: .4);
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 25;
    transform: translate(-50%);
  }
}

@media(max-width: 800px) {
  .game-menu {
    font-size: 17px;
  }
}