%img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.garage {
  display: flex;
  justify-content: center;
  background-color: #2e2e2e;
  font-size: 10px;
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: max-content;
      grid-template-areas: 
      'points points points'
      'tank weapon-list statistics';
      grid-gap: 5px;
      width: 100%;
      height: 100%;
    }
    &__points-wrapper {
      grid-area: points;
    }
    &__points {
      font-size: 2em;
    }
    &__tank-wrapper {
      grid-area: tank;
      position: relative;
      width: 100%;
      height: 100%;
    }
    &__tank {
      @extend %img;
    }
    &__weapon-list {
      grid-area: weapon-list;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__weapon {
      z-index: 10;
      width: 100%;
      height: 100%;
      margin: 2px;
      border: 1px solid black;
    }
    &__weapon-img {
      @extend %img;
    }
    &__statistics {
      grid-area: statistics;
    }
    &__statistics-title {
      font-size: 3em;
      text-align: center;
    }
    &__statistics-ul {
      margin: 0;
      padding: 0;
      font-size: 3em;
      list-style: none;
      text-align: center;
    }
    &__statistics-li {
      text-align: center;
    }
}

.bigBOOM {
  top: -12%;
}
.rockets {
  top: -20%;
}
.sniper {
  top: -38%;
}
.speed {
  top: -25%;
}
.standart {
  top: -32%;
}