@keyframes popUpNotCorrect {
  0% {top: 0%}
  90% {top: 52%}
  100% {top: 50%}
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

  background: $color-background1;
  color: white;
  margin: 1rem;
  position: relative;
  font-family: $font-primary;
}

.login__tabs {
  display: flex;
  width: 100%;
  justify-content: flex-start;

  background: darken($color: $color-background1, $amount: 5%);
  width: 100%;
  height: 4rem;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  position: relative;
}

.login__tabs li {
  display: flex;
  background: darken($color: $color-background1, $amount: 5%);
  color: $color-text;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0 2.2rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &.active {
    background: $color-background1;
    border-right: none;
  }
  &:hover {
    color: white;
  }

  &:last-child a {
    text-align: center;
    width: 174px;
    padding-left: 0;
    padding-right: 0;
    border-right: none;
  }
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 305px;
  padding: 1rem;
}
.login__title {
  margin: 1rem;
}

.auth__form {
  width: 100%;
  max-width: 500px;
}

.auth__field {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-color: $color-button;

  &_active {
    border-color: green;
  }
}
.auth__label {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  @include font($size: 1.4rem);
}
.auth__input {
  box-sizing: border-box;
  width: 100%;
  color: $color-text;

  height: 4rem;
  border: none;
  outline: none;
  background-color: darken($color: $color-background1, $amount: 5%);
}

.login__google {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 1rem;
  margin: 0 1rem;
  margin-bottom: 2rem;
  background-color: darken($color: $color-background1, $amount: 5%);
  cursor: pointer;

  &:hover {
    background-color: darken($color: $color-background1, $amount: 10%);
    color: white;
  }
}

.google__icon {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
  background-image: url('../assets/images/google.svg');
  background-size: contain;
}

.notCorrect {
  position: absolute;
  animation: popUpNotCorrect .5s;
  top: 50%;
  left: 50%;
  width: 80%;
  padding: 15px;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  background-color: darken($color: $color-background1, $amount: 5%);
}
.spinWheel {
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba($color: $color-background1, $alpha: .5)
}
.spinWheel__img-wrap {
  width: 50%;
  height: 50%;
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.loading {
  animation: spin 3s infinite;
}
